body{
    background-color: azure;
}
#calc{
    background-color: rgb(82, 76, 76);
    height: 100%;
    width: 310px;
    margin: 5cm;
    padding: 5px;

}
.key{
    background-color: black;
    color: yellowgreen;
    border: yellow;
    border-radius: 50%;
    size: 10cm;
padding: 20px;
margin: 10px
   
}
#buttons{
    
}